@import helper._

@main("About Project") {

   <h1>About Project</h1>
   	<div class="jumbotron">
   <h2><strong>Data Analytics Powered Knowledge Network in Earth Science</strong></h2>
   <h3>We are developing a prototype Knowledge Network connecting all the information and data objects in NASA’s Earth science enterprise, focusing on a well-defined domain - Hurricane Science. We aim to advance the state-of-the-art NASA knowledge search capability by going beyond traditional catalog search for data and linking the different variety of distributed information objects.</h3>



</div>
}
