@(publications: List[Publications], climateServiceForm: play.data.Form[Publications])
@import helper._

@main("All Climate Services") {

    <h1>@publications.size() Publications</h1>
		<table class="table table-striped table-bordered table-condensed ex2 tablesorter" id = "csTable">
	<thead>
	<tr class="text-center">
		<th style = "vertical-align: middle;" class="col-md-5">Paper Title</th>
		<th style = "vertical-align: middle;" class="col-md-3">Authors</th>
		<th style = "vertical-align: middle;" class="col-md-3">Publication Channel</th>
		<th style = "vertical-align: middle;" class="col-md-1">Year</th>
		<!-- <th style = "vertical-align: middle;" class="col-md-4">Journal Name</th>
		<th style = "vertical-align: middle;" class="col-md-3">Volume</th>
		<th style = "vertical-align: middle;" class="col-md-3">Column</th>
		<th style = "vertical-align: middle;" class="col-md-3">Page</th>
		
		
		 @if(true){
			<th style = "vertical-align: middle;" class="col-md-2">Operation</th>
	     }
	     <th style = "vertical-align: middle;" class="col-md-2">Operation</th> -->
	</tr>
	</thead>
	<tbody>
	@for(publication <- publications) {
	<tr>

		<td><span class="@publication.getPaperTitle() editable" data-name='paperTitle'>
		<a href = "/publication/publicationPanel/@publication.getId()">@publication.getPaperTitle()</a> </span></td>
				
		<td><span class="@publication.getPaperTitle() editable" data-name='authors'>
				@publication.getAuthorList() </span></td>
				 
		<td><span class="@publication.getPaperTitle() editable" data-name='publicationChannel'>
				@publication.getPublicationChannel() </span></td>

		<td><span class="@publication.getPaperTitle() editable" data-name='year'>
				@publication.getYear() </span></td>
		
<!-- 		<td><span class="@publication.getPaperTitle() editable" data-name='fileID'>
		<a href = "@routes.Assets.at(publication.getFileID().substring(7))" target="_blank"/>@publication.getFileID() </span></td> -->
		<!-- <td><span class="@publication.getPaperTitle() editable" data-name='fileID'>
			@publication.getFileID() </span></td> -->

		<!-- <td><span class="@publication.getPaperTitle() editable" data-name='journalName'>
				 </span></td>
				
		<td><span class="@publication.getPaperTitle() editable" data-name='Volume'>
				 </span></td>

		<td><span class="@publication.getPaperTitle() editable" data-name='Column'>
				 </span></td>
		
		<td><span class="@publication.getPaperTitle() editable" data-name='Page'>
				 </span></td>
		<td><input type="file" class="btn btn-info" id ="upload @publication.getPaperTitle()" ></button></td>
		<td><button type="button" class="btn btn-danger" id ="doReplace"  onclick="Javascript:replaceFile('upload '+'@publication.getPaperTitle()')" >Execute</button></td>
 -->
	</tr>
	}
	</tbody>
    </table>
}
