@(publications: List[Publications])
@import helper._

@main("Publications") {

    <h1>@publications.size() Most Recently Added Publications</h1>
		<table class="table table-striped table-bordered table-condensed ex2 tablesorter" id = "csTable">
	<thead>
	<tr class="text-center">
		<th style = "vertical-align: middle;" class="col-md-2">Publication Name</th>
		<th style = "vertical-align: middle;" class="col-md-4">Authors</th>
		<th style = "vertical-align: middle;" class="col-md-3">Publication Channel</th>
		<th style = "vertical-align: middle;" class="col-md-3">Year</th>
		<th style = "vertical-align: middle;" class="col-md-3">FileID</th>
	<!-- 	<th style = "vertical-align: middle;" class="col-md-4">Journal Name</th>
		<th style = "vertical-align: middle;" class="col-md-3">Volume</th>
		<th style = "vertical-align: middle;" class="col-md-3">Column</th>
		<th style = "vertical-align: middle;" class="col-md-3">Page</th> -->
		
<!-- 		
		 @if(true){
			<th style = "vertical-align: middle;" class="col-md-2">Operation</th>
	     }
	     <th style = "vertical-align: middle;" class="col-md-2">Operation</th> -->
	</tr>
	</thead>
	<tbody>
	@for(publication <- publications) {
	<tr>

		<td><span class="@publication.getPaperTitle() editable" data-name='paperTitle'>
				@publication.getPaperTitle() </span></td>
				
		<td><span class="@publication.getPaperTitle() editable" data-name='authors'>
				@publication.getAuthorList() </span></td>
				 
		<td><span class="@publication.getPaperTitle() editable" data-name='publicationChannel'>
				@publication.getPublicationChannel() </span></td>

		<td><span class="@publication.getPaperTitle() editable" data-name='year'>
				@publication.getYear() </span></td>
		
		<td><span class="@publication.getPaperTitle() editable" data-name='fileID'>
				@publication.getFileID() </span></td>

		<!-- <td><span class="@publication.getPaperTitle() editable" data-name='journalName'>
				 </span></td>
				
		<td><span class="@publication.getPaperTitle() editable" data-name='Volume'>
				 </span></td>

		<td><span class="@publication.getPaperTitle() editable" data-name='Column'>
				 </span></td>
		
		<td><span class="@publication.getPaperTitle() editable" data-name='Page'>
				 </span></td>
		<td><input type="file" class="btn btn-info" id ="upload @publication.getPaperTitle()" ></button></td>
		<td><button type="button" class="btn btn-danger" id ="doReplace"  onclick="Javascript:replaceFile('upload '+'@publication.getPaperTitle()')" >Execute</button></td>
 -->
	</tr>
	}
	</tbody>
    </table>
}
